a,a:active,a:visited{color:#8fc829;}
a:hover{text-decoration:underline;}
::-moz-selection{background:#8fc829;color:#fff;text-shadow:none;}
::selection{background:#8fc829;color:#fff;text-shadow:none;}
.hero-unit{background:url('/static/img/abhi_panda.png') #eeeeee no-repeat 95% 25%;}
.hero-unit a.large{margin:25px 0 0;}
header{margin-bottom:50px;}
.whitespace,footer{margin-top:75px;}
form label{text-align:left;}
form #tags{width:100px;}
form input.danger{margin:30px 0 0 20px;width:260px;}
textarea{height:175px;margin-top:18px;resize:vertical;width:100%;}
footer{background:#eee;height:100px;margin-top:125px;padding-top:25px;}
.ir{display:block;margin:0 auto;text-indent:-999em;}
.cfa_logo{background:url('/static/img/cfa_logo.png') no-repeat center 5px;height:60px;width:100%;}
.cfa_logo:hover{background-position-y:-55px;}
.super_z{background:url('/static/img/super_z.png') no-repeat center 5px;height:60px;width:100%;}
.super_z:hover{background-position-y:-57px;}
